<script src="assets/js/jquery-3.5.1.min.js"></script>
<script src="assets/js/slicknav.min.js"></script>
<script>
    $(function(){
        $('#nav1').slicknav({
		"label": " ",
		"prependTo": ".menu-mobile"
		});
    });
</script>
<script src="assets/js/theiastickysidebar.min.js"></script>
<script>
jQuery(document).ready(function() {
    jQuery('#main-wrapper, #sidebar-wrapper').theiaStickySidebar({
      // Settings
      additionalMarginTop: 10,
disableOnResponsiveLayouts: true
    });
  });
</script>
<script>
function showComm(e){document.getElementById(e)&&("none"!=document.getElementById(e+"-show").style.display?(document.getElementById(e+"-show").style.display="none",document.getElementById(e).style.display="block"):(document.getElementById(e+"-show").style.display="block",document.getElementById(e).style.display="none"))};
</script>