<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}
<body>
<div id="outer-wrapper">
<div class="scroll-header" id="head-trigger">
<div class="scroll-head-wrap row">
<div class="scrollin-logo">
<section class="header" id="header">
<div class="header-inner">
<a href="/" aria-label="home"><img src="https://3.bp.blogspot.com/-cNmGgJA7hBk/Xa1VJZmSvUI/AAAAAAAAH1g/pH-SF9mqxSQPvZK7IQu_k5T01uzzDZp3gCK4BGAYYCw/s1600/Kandra.png" alt="logo"></a>
</div>
</section>
</div>
{% include navigation.html %}

</div></div>
</div>
<div class="clear"></div>
<div class="row" id="content-wrapper">

{{ content }}

<div class="clear"></div>
{% include footer.html %}
{% include script.html %}

</body>
</html>
