---
layout: default
---
{{ content }}

<div class="post">
    <div class="block-image">
        <a class="thumb" href="#">
            <img src="/" alt="contoh gambar"/>
        </a>
    </div>
    <article>
        <div class="date-header-post">
            <div class="home-post-head">
                <span class="post-labels">
                    <a href="#" rel="tag">
                        pemain
                    </a>
                    <a href="#" rel="tag">
                        piala dunia
                    </a>
                </span>
                <span class="retitle">
                </span>
                <div id="meta-post">
                </div>
            </div>
            <div class="resumo">
            </div>
            <div class="clear"></div>
        </div>
    </article>
</div>
